@font-face { font-family: Blackboard; src: url('../fonts/CFBlackboardPersonal-Regula.ttf'); } 
@font-face { font-family: MightyBrush; src: url("../fonts/Mighty Brush Demo.otf"); }
@font-face { font-family: Ageo; src: url("../fonts/AgeoPersonalUse.otf"); }
@font-face { font-family: Ageo; src: url("../fonts/AgeoPersonalUse-Bold.otf"); font-weight: bold;}
@font-face { font-family: Quote; src: url("../fonts/Quote.ttf"); }

html {
	overflow:auto;
	/*background: url("../../Photos/DSC01663.JPG");
	background-repeat: no-repeat;*/
	/*background-size: cover;*/
	 /*background-attachment: fixed;*/
	/*background-position: center center;*/
}

body {
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#first-page {
	background: url("http://www.hddesktops.com/web/wallpapers/mac-osx-yosemite-mountains-wallpaper/4096x2160.jpg");
	background-repeat: no-repeat;
	margin: 0em;
	height: 1080px;
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
}

#written-message {
	position: absolute;
	left: 70em;
	top: 25em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
}

@media (max-width: 1800px) {
	#written-message {
	position: absolute;
	left: 60em;
	top: 25em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
}

}

@media (max-width: 1650px) {
	#written-message {
	position: absolute;
	left: 40em;
	top: 25em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
}
	
}

/* calendar */
.calendar {
	border-style: solid;
	border-color: #aaaaaa;
	border-width: 2px;
	position:absolute;
	top: 14em;
	left: 15em;
	width: 300px;
	height: 500px;
	overflow: auto;
	background-color: white;
}


@media (max-width: 1350px) {
	#written-message {
	position: absolute;
	left: 32em;
	top: 25em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
}
	.calendar {
		left: 5em;
	}
}

@media (max-width: 1200px) {
	#written-message {
	position: absolute;
	left: 30em;
	top: 25em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
	width: 50%;
}
	.calendar {
		left: 4em;
		width: 200px;
		height: 400px;
	}
}

@media (max-width: 1100px) {
	#written-message {
	position: absolute;
	left: 27em;
	top: 25em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
}
	.calendar {
		left: 3em;
	}
}

@media (max-width: 1000px) {
	#first-page {
		height: 700px;
	}
	#written-message {
	position: absolute;
	left: 22em;
	top: 12em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
	width: 490px;
}
	.calendar {
		top: 7em;
		left: 3em;
	}
}

@media (max-width: 850px) {
	#written-message {
	position: absolute;
	left: 20em;
	top: 12em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
	width: 490px;
}
	.calendar {
		top: 7em;
		left: 3em;
	}
}
@media (max-width: 800px) {
	#first-page {
		height: 700px;
	}

	#written-message {
	position: absolute;
	left: 7em;
	top: 29em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
	width: 490px;
}
	.calendar {
		top: 2.5em;
		left: 16em;
	}
}

@media (max-width: 700px) {
	#first-page {
		height: 700px;
	}

	#written-message {
	position: absolute;
	left: 4em;
	top: 29em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
	width: 490px;
}
	.calendar {
		top: 2.5em;
		left: 12em;
	}
}

@media (max-width: 600px) {
	#first-page {
		height: 800px;
	}

	#written-message {
	position: absolute;
	left: 4em;
	top: 1em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
	width: 490px;
}
	.calendar {
		top: 15em;
		left: 12em;
	}
}
@media (max-width: 570px) {
	#first-page {
		height: 800px;
	}

	#written-message {
	position: absolute;
	left: 2em;
	top: 1em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
	width: 490px;
}
	.calendar {
		top: 15em;
		left: 10em;
	}
}

@media (max-width: 550px) {
	#first-page {
		height: 800px;
	}

	#written-message {
	position: absolute;
	left: 2em;
	top: 1em;
	box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.6);
	width: 400px;
}
	.calendar {
		top: 15em;
		left: 8em;
	}
}


.to_the_right {
	padding-right: 40px;
	float: right;
}

.time {
	position: absolute;
	top: 2.2em;
	left: -2em;
	color: #aaaaaa;
	font-size: .8em;
}

.time2digits {
	position: absolute;
	top: 2.2em;
	left: -2.5em;
	color: #aaaaaa;
	font-size: .8em;
}

.time_extended_by_a_line {
	top: 3.65em;
}

.calendar_divisions {
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	padding: 7px;
}

.line {
	position: relative;	
	border-bottom: solid;
	border-bottom-color: #00b3b3;
	border-bottom-width: 2px;
	margin-left: 35px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.occupied {
	background: #81ACFF;
	border-radius: 5px;
}

.procrastinate {
	background: #4584FF;
}

.first-long {
	border-bottom: none;
	margin-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
}

.last-long {
	border-radius: 0px 0px 5px 5px;
	
}

/*loading*/
#loading {
	visibility: visible;
	border: 6px solid #B6CDFB; 
	border-top: 6px solid #4383FF; 
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 0.8s linear infinite;
	-webkit-animation: spin 0.8s linear infinite; /* Safari */
	position: absolute;
	top:50%;
	left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

#content {
	visibility: hidden;
}


/*second page*/

#second-page {
	background: #ffffff;
	height: 400px;
	position:relative;
}

.title {
	text-align: center;
	font-family: Blackboard, sans-serif;
	font-size: 5em;
	padding-top: 0.5em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.plug {
	margin-left: 5em; 
	font-size: 3em;
	font-family: Ageo;
}

#phone {
	margin-left: 16em;
	position: relative;
	z-index: 1;
}

#insta-image {
	position: absolute;
	width: 300px;
	height: 610px;
	top: 25.5em;
	left: 16.5em;
	z-index: 0;
}

#instagram-description {
	position: absolute;
	left: 37em;
	top: 14em;
	font-size: 2em;
	font-family: Ageo; 
	margin-right: 3em;
	width: 600px;
	border-top: double;
	padding: 2em;
}
.paragraphs {
	text-indent: 40px;
}

@media (max-width: 2000px) {
	.title {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
	}
	#insta-image {
		top: 22em;
	}
	#instagram-description {
		top: 13em;
		left: 32em;
	}
}

@media (max-width: 1800px) {
	.title {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
	}
	#insta-image {
		top: 22em;
	}
	#instagram-description {
		top: 13em;
		left: 28em;
	}
}

@media (max-width: 1700px) {
	.title {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
	}
	#insta-image {
		top: 22em;
	}
	#instagram-description {
		top: 13em;
		left: 24em;
	}
}

@media (max-width: 1550px) {
	.title {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
	}
	#insta-image {
		top: 22em;
	}
	#instagram-description {
		top: 19em;
		left: 28em;
		font-size: 1.6em;
	}
}

@media (max-width: 1500px) {
	.title {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		margin-left: 4.5em; 
	}
	#phone {
		margin-left: 15em;
	}
	#insta-image {
		top: 22em;
		left: 15.5em;
	}
	#instagram-description {
		top: 20.5em;
		left: 27em;
		font-size: 1.5em;
	}
}


@media (max-width: 1400px) {
	.title {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		margin-left: 4em; 
	}
	#phone {
		margin-left: 13.5em;
	}
	#insta-image {
		top: 22em;
		left: 14em;
	}
	#instagram-description {
		top: 24em;
		left: 33em;
		font-size: 1.3em;
		width: 500px;
	}
}

@media (max-width: 1300px) {
	.title {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		margin-left: 3.5em; 
	}
	#phone {
		margin-left: 11.5em;
	}
	#insta-image {
		top: 22em;
		left: 12em;
	}
	#instagram-description {
		top: 24em;
		left: 28em;
	}
}

@media (max-width: 1200px) {
	.title {
		margin-bottom: 0em;
		padding-bottom: 0em;
		font-size: 4em;
	}
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		margin-left: 2.6em; 
		
		font-size: 2.4em;
	}
	#phone {
		margin-left: 7.5em;
		width: 270px;
	}
	#insta-image {
		top: 18.1em;
		left: 8em;
		width: 260px;
		height: 520px;
	}
	#instagram-description {
		top: 16em;
		left: 25em;
		
		font-size: 1.4em;
		margin-right: 3em;
		width: 400px;
		border-top: double;
		padding: 2em;
	}
}

@media (max-width: 1100px) {
	.title {
		margin-bottom: 0em;
		padding-bottom: 0em;
		font-size: 4em;
	}
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		margin-left: 2.4em; 
		
		font-size: 2em;
	}
	#phone {
		margin-left: 5.5em;
		width: 200px;
	}
	#insta-image {
		top: 16.5em;
		left: 6em;
		width: 180px;
		height: 385px;
	}
	#instagram-description {
		top: 15em;
		left: 24em;
		
		font-size: 1.3em;
		margin-right: 3em;
		width: 400px;
		border-top: double;
		padding: 2em;
	}
}

@media (max-width: 1050px) {

	#instagram-description {
		top: 15em;
		left: 22em;

	}
}

@media (max-width: 1000px) {

	#instagram-description {
		top: 15em;
		left: 20em;
	}
}

@media (max-width: 950px) {

	#instagram-description {
		top: 16em;
		left: 20em;
		font-size: 1.2em;
	}
}

@media (max-width: 900px) {
	
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		margin-left: 1.4em; 
		
		font-size: 2em;
	}
	#phone {
		margin-left: 4.2em;
		width: 200px;
	}
	#insta-image {
		top: 16.5em;
		left: 4.8em;
		width: 180px;
		height: 385px;
	}

	#instagram-description {
		top: 16em;
		left: 18em;
	}
}

@media (max-width: 850px) {
	#instagram-description {
		top: 16em;
		left: 16em;
	}
}

@media (max-width: 800px) {
	
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		text-align: center; 
		
		font-size: 2em;
	}
	#phone {
		margin-left: 20em;
		width: 200px;
	}
	#insta-image {
		top: 16.5em;
		left: 20.5em;
		width: 180px;
		height: 385px;
	}

	#instagram-description {
		top: 42em;
		left: 10em;
		
		font-size: 1.1em;
		margin-right: 3em;
		width: 400px;
		border-top: double;
		padding: 2em;
	}
}

@media (max-width: 720px) {
	
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		text-align: center; 
		
		font-size: 2em;
	}
	#phone {
		margin-left: 15em;
		width: 200px;
	}
	#insta-image {
		top: 16.5em;
		left: 15.5em;
		width: 180px;
		height: 385px;
	}

	#instagram-description {
		top: 42em;
		left: 8em;
		
		font-size: 1.1em;
		margin-right: 3em;
		width: 400px;
		border-top: double;
		padding: 2em;
	}
}
@media (max-width: 709px) {
	
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		text-align: center; 
		
		font-size: 2em;
	}
	#phone {
		margin-left: 15em;
		width: 200px;
	}
	#insta-image {
		top: 21.3em;
		left: 15.5em;
		width: 180px;
		height: 385px;
	}

	#instagram-description {
		top: 46em;
		left: 8em;
		
		font-size: 1.1em;
		margin-right: 3em;
		width: 400px;
		padding: 2em;
	}
}

@media (max-width: 650px) {
	
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		text-align: center; 
		
		font-size: 2em;
	}
	#phone {
		margin-left: 13em;
		width: 200px;
	}
	#insta-image {
		top: 21.3em;
		left: 13.5em;
		width: 180px;
		height: 385px;
	}

	#instagram-description {
		top: 46em;
		left: 4.5em;
		
		font-size: 1.1em;
		margin-right: 3em;
		width: 400px;
		padding: 2em;
	}
}
@media (max-width: 600px) {
	
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		text-align: center; 
		
		font-size: 2em;
	}
	#phone {
		margin-left: 11.5em;
		width: 200px;
	}
	#insta-image {
		top: 21.3em;
		left: 12em;
		width: 180px;
		height: 385px;
	}

	#instagram-description {
		top: 46em;
		left: 3em;
		
		font-size: 1.1em;
		margin-right: 3em;
		width: 400px;
		padding: 2em;
	}
}

@media (max-width: 550px) {
	
	.plug {
		margin-top: 0.2em;
		padding-top: 0em;
		padding-bottom: 0.5em;
		text-align: center; 
		
		font-size: 2em;
	}
	#phone {
		margin-left: 10em;
		width: 200px;
	}
	#insta-image {
		top: 21.3em;
		left: 10.5em;
		width: 180px;
		height: 385px;
	}

	#instagram-description {
		top: 50em;
		left: 1.5em;
		
		font-size: 1em;
		margin-right: 3em;
		width: 400px;
		padding: 1em;
	}
}

/* third page */

#third-page {
	position: relative;
	top: 700px;
	height: 1000px;
}

.deceptive {
	font-family: MightyBrush, Times;
	font-size: 5em;
	text-align: center;
}


 .images {
	margin: 3em 0 0;
}
/*cat photo*/

 .photo {
 	margin: 0;
	margin-top: 8em;
 	position: relative;

 }

 .photo img {
	max-width: 100%;
	height: auto;
 	display: block;
 }

 .photo-description {
 	position: absolute;
 	z-index: 100;
 	bottom: 0em;
 	left: 0em;
 	right: 0em;
 	color: white;
	background: rgba(0,0,0,0.6); 
	padding-bottom: 2em;
	text-align: center;
    box-sizing: border-box; 
	transition: all ease-in-out 250ms;
	font-size: 1.3em;
 }

 .photo-description p {
 	margin: 1em;
 }


@media (min-width: 37rem) {
	.photo {
		width: 50%;
		float: left;
	}
	.last-photo {
		display: block;	
		float: none;
		margin-left: auto;
		margin-right: auto;

	}
}

@media (min-width: 60rem) {
	.photo {
		width: 33.333334%;
		overflow: hidden; /* hides them */
		float: left;
	}

	.photo-description {
		transform: translateY(150%); /*offsets them down by 150% */
	}

	.photo:hover .photo-description {
		transform: translateY(0%);
	}
	
	.last-photo {
		margin-left: 0em;
	}
}

/*button*/
.button {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: 0.5em 1.75em;
	font-size: .8rem;
	font-weight: 700;
	color: #4881FF;
	border-color: #4881FF;
}


.button:hover,
.button:focus {
	background:#4881FF;
	color:#232323;
}

@media (max-width: 1930px) {
	#third-page {
		height: 960px;
	}
}

@media (max-width: 1290px) {
	#third-page {
		height: 660px;
	}
}

@media (max-width: 1200px) {
	#third-page {
		top: 450px;
		height: 700px;
	}
	
	.photo {
		margin-top: 3em;
	}
	.photo-description {
		font-size: 1em;
	}
	
	.deceptive {
		font-size: 4em;
	}
	
	.button {
	font-size: .7rem;
}

	
}

@media (max-width: 1100px) {
	#third-page {
		top: 300px;
		height: 600px;
	}
	.photo {
		margin-top: 0em;
	}
}

@media (max-width: 800px) {
	#third-page {
		top: 600px;
		height: 600px;
	}
	.photo { 
		margin-top: 0;
	}
}

/* fourth page */

#fourth-page {
	position: relative;
	top: 700px;
	height: 1000px;
}

#dr-photo {
	border-radius: 50%;
	margin-top: 3em;
	margin-left: 10em;
}

#quotation-mark {
	position: absolute;
	font-size: 15em;
	top: -0.1em;
	left: 2em;
}

#quote {
	font-size: 4em;
	margin-top: 2em;
	margin-left: 2em;
	font-family: Quote Helvetica;
	width: 15em;
	text-indent: 1.3em;
}

#citation {
	font-size: 2em; 
	margin-top: 0; 
	margin-left: 25em;
	font-family: Ageo;
}

#citat-line {
	border-bottom: double;
	border-bottom-width: 0.2em;
	position: absolute;
	width: 550px;
	left: 13em;
	top: 42.33em;
}

footer {
	position: relative; 
	top: 40em;
}

#copyright {
	display: inline;
	position: absolute;
	text-align: center;
	color: #999999;
	margin-left: 0.4%;
	top: 1.6em;
}

#logo {
	width: 110px;
	display: inline-block;
	margin-left: 38%;
	margin-right: auto;
}